<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Medical Image Segmentation Benchmark</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>
<body>





<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center">Medical Image Segmentation Benchmark</h2>
            <form id="command-form">

                <!-- Model Selection Modal -->
                <div class="modal fade" id="modelSelectionModal" tabindex="-1" aria-labelledby="modelSelectionModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modelSelectionModalLabel">Select Models</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
<!--                                <div class="form-check">-->
<!--                                    <input class="form-check-input" type="checkbox" value="nnunet" id="nnunet">-->
<!--                                    <label class="form-check-label" for="nnunet">nnUNet</label>-->
<!--                                </div>-->
<!--                                <div class="form-check">-->
<!--                                    <input class="form-check-input" type="checkbox" value="nnsam" id="nnsam">-->
<!--                                    <label class="form-check-label" for="nnsam">nnSAM</label>-->
<!--                                </div>-->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="unet" id="unet">
                                    <label class="form-check-label" for="unet">UNet</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="transunet" id="transunet">
                                    <label class="form-check-label" for="transunet">TransUNet</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="swinunet" id="swinunet">
                                    <label class="form-check-label" for="swinunet">SwinUNet</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="unetpp" id="unetpp">
                                    <label class="form-check-label" for="unetpp">UNet++</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="attunet" id="attunet">
                                    <label class="form-check-label" for="attunet">AttentionUNet</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="r2unet" id="r2unet">
                                    <label class="form-check-label" for="r2unet">R2UNet</label>
                                </div>
<!--                                <div class="form-check">-->
<!--                                    <input class="form-check-input" type="checkbox" value="nnunet3d" id="nnunet3d">-->
<!--                                    <label class="form-check-label" for="nnunet3d">nnUNet (3D)</label>-->
<!--                                </div>-->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="yournet" id="yournet">
                                    <label class="form-check-label" for="yournet">Your Network</label>
                                </div>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" id="start-auto-button" class="btn btn-primary">Start Full Auto</button>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Import Dataset Modal -->
                <div class="modal fade" id="importDatasetModal" tabindex="-1" aria-labelledby="importDatasetModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="importDatasetModalLabel">Import Dataset</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        <div class="mb-3">
                            <label for="training_image_path" class="form-label">Training Image Path</label>
                            <input type="text" class="form-control" id="training_image_path">
                        </div>
                        <div class="mb-3">
                            <label for="training_label_path" class="form-label">Training Label Path</label>
                            <input type="text" class="form-control" id="training_label_path">
                        </div>
                        <div class="mb-3">
                            <label for="testing_image_path" class="form-label">Testing Image Path</label>
                            <input type="text" class="form-control" id="testing_image_path">
                        </div>
                        <div class="mb-3">
                            <label for="testing_label_path" class="form-label">Testing Label Path</label>
                            <input type="text" class="form-control" id="testing_label_path">
                        </div>

                        <div class="mb-3">
                            <label for="image-size" class="form-label">Select Image Size</label>
                            <select class="form-control" id="image-size">
                                <option value="128">128</option>
                                <option value="192">192</option>
                                <option value="224">224</option>
                                <option value="256">256</option>
                                <option value="320">320</option>
                                <option value="384">384</option>
                                <option value="512">512</option>
                                <option value="1024">1024</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="dataset_name" class="form-label">Dataset Name</label>
                            <input type="text" class="form-control" id="dataset_name">
                        </div>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" id="import-dataset-button" class="btn btn-primary">Import Dataset</button>
                        </div>
                    </div>
                    </div>
                </div>






                <div class="mb-3">
                    <label for="dataset" class="form-label">Select Dataset</label>
                    <select class="form-control" id="dataset">
                    </select>
                </div>

                <div class="mb-3">
                    <label for="model" class="form-label">Select Model</label>
                    <select class="form-control" id="model">
<!--                        <option value="nnunet">nnUNet</option>-->
<!--                        <option value="nnsam">nnSAM</option>-->
                        <option value="unet">UNet</option>
                        <option value="transunet">TransUNet</option>
                        <option value="swinunet">SwinUNet</option>
                        <option value="unetpp">UNet++</option>
                        <option value="attunet">AttentionUNet</option>
                        <option value="r2unet">R2UNet</option>
<!--                        <option value="nnunet3d">nnUNet (3D)</option>-->
                        <option value="yournet">Your Network</option>
                        <!-- Add more models here -->
                    </select>
                </div>

                <div class="mb-3">
                    <label for="batch-size-slider" class="form-label">Batch Size: <span id="batch-size-label">4</span></label>
                    <input type="range" class="form-range" id="batch-size-slider" min="1" max="64" step="1" value="4">
                </div>
                
                <div class="mb-3">
                    <label for="lr-slider" class="form-label">Learning Rate: <span id="lr-label">0.01</span></label>
                    <input type="range" class="form-range" id="lr-slider" min="0.0001" max="0.1" step="0.0001" value="0.01">
                </div>

                <div class="mb-3">
                    <label for="epochs-slider" class="form-label">Total Epochs: <span id="epochs-label">100</span></label>
                    <input type="range" class="form-range" min="1" max="500" step="1" id="epochs-slider" value="100">
                </div>


                
                <div class="d-flex justify-content-center flex-wrap mb-3">
                    <button type="button" class="btn btn-secondary mb-2 mx-2" data-bs-toggle="modal" data-bs-target="#importDatasetModal">
                        <i class="fas fa-upload"></i> Import Dataset
                    </button>
                    <button id="preprocess-button" class="btn btn-info mb-2 mx-2"><i class="fas fa-cogs"></i> Data Preprocess</button>
                    <button id="edit-network-button" class="btn btn-primary mb-2 mx-2"><i class="fas fa-edit"></i> Edit Network</button>
                    <button id="train-button" class="btn btn-success mb-2 mx-2"><i class="fas fa-play"></i> Train</button>
                    <button id="test-button" class="btn btn-warning mb-2 mx-2"><i class="fas fa-flask"></i> Test</button>
                    <button id="summary-button" class="btn btn-primary mb-2 mx-2"><i class="fas fa-list"></i> Summary Results</button>


                    <button type="button" class="btn btn-success mb-2 mx-2" data-bs-toggle="modal" data-bs-target="#modelSelectionModal">
                        <i class="fas fa-robot"></i> Full Auto
                    </button>

                    <button id="stop-button" class="btn btn-danger mb-2 mx-2"><i class="fas fa-stop"></i> Stop</button>
                </div>
                
                
                

                <div id="loading" style="display: none;">
                    <div style="display: flex; justify-content: center;">
                    <img src="{{ url_for('static', filename='running.gif') }}" alt="Loading..."  style="width: 25%; height: auto; ">
                </div>
                </div>
                

            <div id="result" class="mt-4"></div>
            <textarea id="output" class="mt-4 form-control" readonly rows="10"></textarea>

            <div id="progress" style="display: none;">
                <div style="display: flex; justify-content: center;">
                <img src="{{ url_for('static', filename='progress.png') }}" alt="progress"  style="width: 80%; height: auto; ">
            </div>
            </div>

            <br>
            <div id="result_visiual">
                <div style="display: flex; justify-content: center;">
                <img src="{{ url_for('static', filename='result_visiual.png') }}" alt="result_visiual"  style="width: 50%; height: auto; ">
            </div>
            </div>


            
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>

<script>

document.getElementById("batch-size-slider").addEventListener("input", function() {
    document.getElementById("batch-size-label").innerText = this.value;
});

document.getElementById("lr-slider").addEventListener("input", function() {
    document.getElementById("lr-label").innerText = this.value;
});

document.getElementById("epochs-slider").addEventListener("input", function() {
    document.getElementById("epochs-label").textContent = this.value;
});


document.getElementById("start-auto-button").addEventListener("click", function(e) {
    // Get selected dataset
    const dataset = document.getElementById("dataset").value;

    const batchSize = document.getElementById("batch-size-slider").value;
    const totalEpochs = document.getElementById("epochs-slider").value;
    const learningRate = document.getElementById("lr-slider").value;

    e.preventDefault(); 

    let selectedModels = [];
    document.querySelectorAll(".form-check-input:checked").forEach(checkbox => {
        selectedModels.push(checkbox.value);
    });

    alert("Start Full Auto");
    // Send the data to the backend
    fetch("/full_auto", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({models_list: selectedModels, dataset: dataset, batchSize: batchSize, totalEpochs: totalEpochs, learningRate: learningRate })
    })
    .then(response => response.json())
    .then(data => {
        if (data.status) {
            alert(data.status);
        } else if (data.error) {
            alert("Error: " + data.error);
        }
    })
    .catch(error => {
        alert("Error: " + error);
    });

});



document.getElementById("edit-network-button").addEventListener("click", function(e) {
    fetch("/edit_network");
});

document.getElementById("import-dataset-button").addEventListener("click", function(e) {
    const training_image_path = document.getElementById("training_image_path").value;
    const training_label_path = document.getElementById("training_label_path").value;
    const testing_image_path = document.getElementById("testing_image_path").value;
    const testing_label_path = document.getElementById("testing_label_path").value;
    const dataset_name = document.getElementById("dataset_name").value;
    const imageSize = document.getElementById("image-size").value;

    fetch("/import_dataset", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({ training_image_path, training_label_path, testing_image_path, testing_label_path, imageSize , dataset_name })
    })
    .then(response => response.json())
    .then(data => {
        if (data.status) {
            alert(data.status);
            window.location.reload();
        } else if (data.error) {
            alert("Error: " + data.error);
        }
    })
    .catch(error => {
        alert("Error: " + error);
    });
});



function setPathsAndModel() {
    const model_name = document.getElementById("model").value;
    const dataset = document.getElementById("dataset").value;

    fetch("/set_paths_and_model", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({ model_name, dataset})
    })
    .then(response => response.json())
    .then(data => {
        if (data.status) {
            document.getElementById("result").innerHTML = `<p class="text-success">${data.status}</p>`;
        }
    })
    .catch(error => {
        document.getElementById("result").innerHTML = `<p class="text-danger">${error}</p>`;
    });
}



document.getElementById("summary-button").addEventListener("click", function(e) {
    e.preventDefault(); // Prevent the form from submitting
    runSummary();
});

function runSummary() {
    const model_name = document.getElementById("model").value;
    const dataset = document.getElementById("dataset").value;

    fetch("/summary_result", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({model_name, dataset})
    }).then(response => response.json()).then(data => {
        document.getElementById("result").innerHTML = `<p>Status: ${data.status || data.error}</p>`;
    }).catch(error => {
        document.getElementById("result").innerHTML = `<p class="text-danger">${error}</p>`;
    });
}




document.addEventListener("DOMContentLoaded", function() {
    document.getElementById("stop-button").addEventListener("click", function(e) {
        e.preventDefault(); // Prevent the form from submitting
        stopCommand();
    });
});


document.addEventListener("DOMContentLoaded", function() {
    // Fetch paths, model name, and dataset list
    fetch("/get_paths")
    .then(response => response.json())
    .then(data => {
        document.getElementById("model").value = data.model_name;

        // Populate the dataset dropdown
        const datasetDropdown = document.getElementById("dataset");
        datasetDropdown.innerHTML = data.dataset_list.map(dataset => `<option value="${dataset}">${dataset}</option>`).join('');
        document.getElementById("dataset").value = data.dataset;
    });
});


document.getElementById("preprocess-button").addEventListener("click", function(e) {
    e.preventDefault(); 
    runDataPreprocess();
});

function runDataPreprocess() {
    const model_name = document.getElementById("model").value;
    const dataset = document.getElementById("dataset").value;

    fetch("/data_preprocess", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({model_name, dataset })
    }).then(response => response.json()).then(data => {
        document.getElementById("result").innerHTML = `<p>Status: ${data.status || data.error}</p>`;
    }).catch(error => {
        document.getElementById("result").innerHTML = `<p class="text-danger">${error}</p>`;
    });
}


document.getElementById("train-button").addEventListener("click", function(e) {
    e.preventDefault(); 
    runTraining();
});

function runTraining() {
    const model_name = document.getElementById("model").value;
    const dataset = document.getElementById("dataset").value;
    const batchSize = document.getElementById("batch-size-slider").value;
    const totalEpochs = document.getElementById("epochs-slider").value;
    const learningRate = document.getElementById("lr-slider").value;

    fetch("/train_model", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({model_name, dataset, batchSize, totalEpochs, learningRate })
    }).then(response => response.json()).then(data => {
        document.getElementById("result").innerHTML = `<p>Status: ${data.status || data.error}</p>`;
    }).catch(error => {
        document.getElementById("result").innerHTML = `<p class="text-danger">${error}</p>`;
    });
}

document.getElementById("test-button").addEventListener("click", function(e) {
    e.preventDefault(); // Prevent the form from submitting
    runTest();
});

function runTest() {
    const model_name = document.getElementById("model").value;
    const dataset = document.getElementById("dataset").value;

    fetch("/run_test", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({model_name, dataset})
    }).then(response => response.json()).then(data => {
        document.getElementById("result").innerHTML = `<p>Status: ${data.status || data.error}</p>`;
    }).catch(error => {
        document.getElementById("result").innerHTML = `<p class="text-danger">${error}</p>`;
    });
}



document.addEventListener("DOMContentLoaded", function() {
    setInterval(updateOutput, 5000);
});


function updateOutput() {
    fetch("/get_output")
    .then(response => response.json())
    .then(data => {
        const outputElement = document.getElementById("output");
        outputElement.value = data.content; 
        outputElement.scrollTop = outputElement.scrollHeight;
    });
}


function updateStatus() {
    fetch("/get_status")
    .then(response => response.json())
    .then(data => {
        const status = data.status;
        const loadingElement = document.getElementById("loading");
        const progressElement = document.getElementById("progress");
        if (status === 'running') {
            loadingElement.style.display = "block";  
            progressElement.style.display = "block";  
        } else {
            loadingElement.style.display = "none"; 
            progressElement.style.display = "none";
        }
    })
    .catch(error => {
        console.log("An error occurred while fetching the status:", error);
    });
}

setInterval(updateStatus, 5000);





function updateProgressImage() {
    const progressImage = document.querySelector('#progress img');
    const result_visiual = document.querySelector('#result_visiual img');

    fetch("{{ url_for('static', filename='progress.png') }}?" + new Date().getTime())
    .then(response => response.blob())
    .then(blob => {
        const objectURL = URL.createObjectURL(blob);
        progressImage.src = objectURL;
    })
    .catch(error => console.error('Error fetching image:', error));

    fetch("{{ url_for('static', filename='result_visiual.png') }}?" + new Date().getTime())
    .then(response => response.blob())
    .then(blob => {
        const objectURL = URL.createObjectURL(blob);
        result_visiual.src = objectURL;
    })
    .catch(error => console.error('Error fetching image:', error));

}

setInterval(updateProgressImage, 5000);


function stopCommand() {
    fetch("/stop_command", {
        method: "POST"
    }).then(response => response.json()).then(data => {
        if (data.status) {
            document.getElementById("result").innerHTML = `<p class="text-success">${data.status}</p>`;
        } else if (data.error) {
            document.getElementById("result").innerHTML = `<p class="text-danger">${data.error}</p>`;
        }
    }).catch(error => {
        document.getElementById("result").innerHTML = `<p class="text-danger">${error}</p>`;
    });
}

</script>

</body>
</html>