<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Medical Image Segmentation Benchmark</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>
<body>

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center">Medical Image Segmentation Benchmark</h2>
            <form id="command-form">


                <!-- Import Dataset Modal -->
                <div class="modal fade" id="importDatasetModal" tabindex="-1" aria-labelledby="importDatasetModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="importDatasetModalLabel">Import Dataset</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        <div class="mb-3">
                            <label for="training_image_path" class="form-label">Training Image Path</label>
                            <input type="text" class="form-control" id="training_image_path">
                        </div>
                        <div class="mb-3">
                            <label for="training_label_path" class="form-label">Training Label Path</label>
                            <input type="text" class="form-control" id="training_label_path">
                        </div>
                        <div class="mb-3">
                            <label for="testing_image_path" class="form-label">Testing Image Path</label>
                            <input type="text" class="form-control" id="testing_image_path">
                        </div>
                        <div class="mb-3">
                            <label for="testing_label_path" class="form-label">Testing Label Path</label>
                            <input type="text" class="form-control" id="testing_label_path">
                        </div>
                        <div class="mb-3">
                            <label for="dataset_name" class="form-label">Dataset Name</label>
                            <input type="text" class="form-control" id="dataset_name">
                        </div>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" id="import-dataset-button" class="btn btn-primary">Import Dataset</button>
                        </div>
                    </div>
                    </div>
                </div>
                
  

                <div class="mb-3">
                    <label for="dataset" class="form-label">Select Dataset</label>
                    <select class="form-control" id="dataset">
                    </select>
                </div>
                
                <div class="mb-3">
                    <label for="model" class="form-label">Select Model</label>
                    <select class="form-control" id="model">
                        <option value="nnunet">nnUNet</option>
                        <option value="nnsam">nnSAM</option>
                        <option value="unet">UNet</option>
                        <option value="transunet">TransUNet</option>
                        <option value="swinunet">SwinUNet</option>
                        <option value="unetpp">UNet++</option>
                        <option value="attunet">AttentionUNet</option>
                        <option value="r2unet">R2UNet</option>
                        <option value="nnunet3d">nnUNet (3D)</option>
                        <option value="yournet">Your Network</option>
                        <!-- Add more models here -->
                    </select>
                </div>

                <div class="d-grid gap-2 d-md-block mb-3">
                    <button type="button" class="btn btn-secondary mb-2" data-bs-toggle="modal" data-bs-target="#importDatasetModal">
                        <i class="fas fa-upload"></i> Import Dataset
                    </button>
                    <button id="preprocess-button" class="btn btn-info mb-2"><i class="fas fa-cogs"></i> Data Preprocess</button>
                    <button id="edit-network-button" class="btn btn-primary mb-2"><i class="fas fa-edit"></i> Edit Network.py</button>
                    <button id="train-button" class="btn btn-success mb-2"><i class="fas fa-play"></i> Train</button>
                    <button id="test-button" class="btn btn-warning mb-2"><i class="fas fa-flask"></i> Test</button>
                    <button id="summary-button" class="btn btn-primary mb-2"><i class="fas fa-list"></i> Summary Results</button>
                    <button id="auto-button" class="btn btn-info mb-2"><i class="fas fa-robot"></i> Full Auto</button>
                    <button id="stop-button" class="btn btn-danger mb-2"><i class="fas fa-stop"></i> Stop</button>
                </div>
                
                

                <div id="loading" style="display: none;">
                    <div style="display: flex; justify-content: center;">
                    <img src="{{ url_for('static', filename='running.gif') }}" alt="Loading..."  style="width: 25%; height: auto; ">
                </div>
                </div>
                

            <div id="result" class="mt-4"></div>
            <textarea id="output" class="mt-4 form-control" readonly rows="10"></textarea>

            <div id="progress" style="display: none;">
                <div style="display: flex; justify-content: center;">
                <img src="{{ url_for('static', filename='progress.png') }}" alt="progress"  style="width: 80%; height: auto; ">
            </div>
            </div>

            <br>
            <div id="result_visiual">
                <div style="display: flex; justify-content: center;">
                <img src="{{ url_for('static', filename='result_visiual.png') }}" alt="result_visiual"  style="width: 50%; height: auto; ">
            </div>
            </div>


            
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>

<script>


document.getElementById("edit-network-button").addEventListener("click", function(e) {
    fetch("/edit_network");
});


document.getElementById("import-dataset-button").addEventListener("click", function(e) {
    const training_image_path = document.getElementById("training_image_path").value;
    const training_label_path = document.getElementById("training_label_path").value;
    const testing_image_path = document.getElementById("testing_image_path").value;
    const testing_label_path = document.getElementById("testing_label_path").value;
    const dataset_name = document.getElementById("dataset_name").value;

    fetch("/import_dataset", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({ training_image_path, training_label_path, testing_image_path, testing_label_path, dataset_name })
    })
    .then(response => response.json())
    .then(data => {
        if (data.status) {
            alert(data.status);
        } else if (data.error) {
            alert("Error: " + data.error);
        }
    })
    .catch(error => {
        alert("Error: " + error);
    });
});



function setPathsAndModel() {
    const model_name = document.getElementById("model").value;
    const dataset = document.getElementById("dataset").value;

    fetch("/set_paths_and_model", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({ model_name, dataset})
    })
    .then(response => response.json())
    .then(data => {
        if (data.status) {
            document.getElementById("result").innerHTML = `<p class="text-success">${data.status}</p>`;
        }
    })
    .catch(error => {
        document.getElementById("result").innerHTML = `<p class="text-danger">${error}</p>`;
    });
}



document.getElementById("summary-button").addEventListener("click", function(e) {
    e.preventDefault(); // Prevent the form from submitting
    runSummary();
});

function runSummary() {
    const model_name = document.getElementById("model").value;
    const dataset = document.getElementById("dataset").value;

    fetch("/summary_result", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({model_name, dataset})
    }).then(response => response.json()).then(data => {
        document.getElementById("result").innerHTML = `<p>Status: ${data.status || data.error}</p>`;
    }).catch(error => {
        document.getElementById("result").innerHTML = `<p class="text-danger">${error}</p>`;
    });
}




document.addEventListener("DOMContentLoaded", function() {
    const form = document.getElementById("command-form");
    form.addEventListener("submit", function(e) {
        e.preventDefault();
        runCommand();
    });

    document.getElementById("stop-button").addEventListener("click", function(e) {
        e.preventDefault(); // Prevent the form from submitting
        stopCommand();
    });
});


document.addEventListener("DOMContentLoaded", function() {
    // Fetch paths, model name, and dataset list
    fetch("/get_paths")
    .then(response => response.json())
    .then(data => {
        document.getElementById("model").value = data.model_name;

        // Populate the dataset dropdown
        const datasetDropdown = document.getElementById("dataset");
        datasetDropdown.innerHTML = data.dataset_list.map(dataset => `<option value="${dataset}">${dataset}</option>`).join('');
        document.getElementById("dataset").value = data.dataset;
    });
});


document.getElementById("preprocess-button").addEventListener("click", function(e) {
    e.preventDefault(); 
    runDataPreprocess();
});

function runDataPreprocess() {
    const model_name = document.getElementById("model").value;
    const dataset = document.getElementById("dataset").value;

    fetch("/data_preprocess", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({model_name, dataset })
    }).then(response => response.json()).then(data => {
        document.getElementById("result").innerHTML = `<p>Status: ${data.status || data.error}</p>`;
    }).catch(error => {
        document.getElementById("result").innerHTML = `<p class="text-danger">${error}</p>`;
    });
}


document.getElementById("train-button").addEventListener("click", function(e) {
    e.preventDefault(); 
    runTraining();
});

function runTraining() {
    const model_name = document.getElementById("model").value;
    const dataset = document.getElementById("dataset").value;

    fetch("/train_model", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({model_name, dataset })
    }).then(response => response.json()).then(data => {
        document.getElementById("result").innerHTML = `<p>Status: ${data.status || data.error}</p>`;
    }).catch(error => {
        document.getElementById("result").innerHTML = `<p class="text-danger">${error}</p>`;
    });
}

document.getElementById("test-button").addEventListener("click", function(e) {
    e.preventDefault(); // Prevent the form from submitting
    runTest();
});

function runTest() {
    const model_name = document.getElementById("model").value;
    const dataset = document.getElementById("dataset").value;

    fetch("/run_test", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({model_name, dataset})
    }).then(response => response.json()).then(data => {
        document.getElementById("result").innerHTML = `<p>Status: ${data.status || data.error}</p>`;
    }).catch(error => {
        document.getElementById("result").innerHTML = `<p class="text-danger">${error}</p>`;
    });
}



document.addEventListener("DOMContentLoaded", function() {
    setInterval(updateOutput, 5000);
});


function updateOutput() {
    fetch("/get_output")
    .then(response => response.json())
    .then(data => {
        const outputElement = document.getElementById("output");
        outputElement.value = data.content; 
        outputElement.scrollTop = outputElement.scrollHeight;
    });
}


function updateStatus() {
    fetch("/get_status")
    .then(response => response.json())
    .then(data => {
        const status = data.status;
        const loadingElement = document.getElementById("loading");
        const progressElement = document.getElementById("progress");
        if (status === 'running') {
            loadingElement.style.display = "block";  
            progressElement.style.display = "block";  
        } else {
            loadingElement.style.display = "none"; 
            progressElement.style.display = "none";
        }
    })
    .catch(error => {
        console.log("An error occurred while fetching the status:", error);
    });
}

setInterval(updateStatus, 5000);





function updateProgressImage() {
    const progressImage = document.querySelector('#progress img');
    const result_visiual = document.querySelector('#result_visiual img');

    fetch("{{ url_for('static', filename='progress.png') }}?" + new Date().getTime())
    .then(response => response.blob())
    .then(blob => {
        const objectURL = URL.createObjectURL(blob);
        progressImage.src = objectURL;
    })
    .catch(error => console.error('Error fetching image:', error));

    fetch("{{ url_for('static', filename='result_visiual.png') }}?" + new Date().getTime())
    .then(response => response.blob())
    .then(blob => {
        const objectURL = URL.createObjectURL(blob);
        result_visiual.src = objectURL;
    })
    .catch(error => console.error('Error fetching image:', error));

}

setInterval(updateProgressImage, 5000);




function runCommand() {
    const command = document.getElementById("command").value;
    fetch("/run_command", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({ command })
    }).then(response => response.json()).then(data => {
        // Update your logic here based on the data received
        document.getElementById("result").innerHTML = `<p>Status: ${data.status || data.error}</p>`;
    }).catch(error => {
        document.getElementById("result").innerHTML = `<p class="text-danger">${error}</p>`;
    });
}

function stopCommand() {
    fetch("/stop_command", {
        method: "POST"
    }).then(response => response.json()).then(data => {
        if (data.status) {
            document.getElementById("result").innerHTML = `<p class="text-success">${data.status}</p>`;
        } else if (data.error) {
            document.getElementById("result").innerHTML = `<p class="text-danger">${data.error}</p>`;
        }
    }).catch(error => {
        document.getElementById("result").innerHTML = `<p class="text-danger">${error}</p>`;
    });
}

</script>

</body>
</html>
